<h2>Update shop</h2>

<form action="/basket/update/{{shop.id}}" method="post">

	<div class="m1">
		<label for="basket_name" class="w-7">Basket name</label>
		<strong class="bold">{{shop.name}}</strong>
		{{!-- <input type="text" name="basket_name" class="mt-1 p-1" readonly value="{{basket.description}}" > --}}
	</div>

	<div class="m1">
		<label for="qty" class="w-7" >Shop</label>
		<select name="fruit_id" class="mt-1 p-1" id="">
			<option value="">Select shop</option>
			{{#each shop}}
			<option value="{{id}}">{{name}}</option>
			{{/each}}
		</select>
	</div>

	</table>


</form>